{{ header }}

<div class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
        
        <h2>{{ heading_title }}</h2>
        {% if testimonials %}
            <div class="row">
                <div class="theme2">

                    {% if (conf_allow_guest == 1 or user_logged == 1) and (conf_admin_frontend_approval == 1) %}
                        <div class="col-md-12">
                            <div class="col-md-2 pull-right">
                                <input id="idadd" type="button" value="Add Testimonial" class="btn btn-primary">
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-3">
                            <div id="response_status"></div>
                        </div>
                        <div id="addform" class="form_container" style="display:none;" >
                            <div class="Testimonial_info">Testimonial Information</div>
                            <div class="clear"></div>
                            <div class="Testimonial_plus_form">
                                <form id="testimonial-form" method="post">
                                    <fieldset>
                                        <div class="form-group required tesitimonail_form_div">
                                            <label class="col-sm-3 control-label" for="input-name">Contact Name</label>
                                            <div class="col-sm-9">
                                              <input type="text" name="contact_name" value="" id="input-name" class="form-control" />
                                            </div>
                                        </div>
                                        
                                        <div class="form-group required tesitimonail_form_div">
                                            <label class="col-sm-3 control-label" for="input-email">Email</label>
                                            <div class="col-sm-9">
                                              <input type="text" name="contact_email" value="" id="input-email" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group tesitimonail_form_div">
                                            <label class="col-sm-3 control-label" for="input-name">Website <small>(Optional)</small></label>
                                            <div class="col-sm-9">
                                              <input type="text" name="contact_website" value="" id="input-name" class="form-control" />
                                            </div>
                                        </div>
                                        
                                        <div class="form-group required tesitimonail_form_div">
                                            <label class="col-sm-3 control-label" for="input-short">
                                            Short Description <span data-toggle="tooltip" title="Short description must be between 10 and 250 characters!"><i class="fa fa-info-circle" aria-hidden="true"></i></span></label>
                                            <div class="col-sm-9">
                                              <textarea name="short_desc" rows="10" id="input-short" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group required tesitimonail_form_div">
                                            <label class="col-sm-3 control-label" for="input-testimonials">Testimonials <span data-toggle="tooltip" title="Testimonial description must be between 25 and 1000 characters!"><i class="fa fa-info-circle" aria-hidden="true"></i></span></label>
                                            <div class="col-sm-9">
                                              <textarea name="testimonial_desc" rows="10" id="input-testimonials" class="form-control"></textarea>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group tesitimonail_form_div" id="option">
                                            <label class="col-sm-3 control-label" for="input-captcha">Avatar <small>(Optional)</small></label>
                                            <div class="col-sm-9">
                                                <input type="file" name="image" class="btn btn-primary btn-sm">
                                                <input type="hidden" name="avatar" value="" />
                                            </div>
                                        </div>
                                        <div class="form-group tesitimonail_form_div required">
                                            <label class="col-sm-3 control-label" for="input-captcha">Rating</label>
                                            <div class="col-sm-9">
                                                Bad
                                                &nbsp;&nbsp;
                                                <input type="radio" name="rating" value="1">
                                                &nbsp;
                                                <input type="radio" name="rating" value="2">
                                                &nbsp;
                                                <input type="radio" name="rating" value="3">
                                                &nbsp;
                                                <input type="radio" name="rating" value="4">
                                                &nbsp;
                                                <input type="radio" name="rating" value="5">
                                                &nbsp;&nbsp;
                                                Good
                                            </div>
                                        </div>
                                        <!--<div class="form-group required tesitimonail_form_div">
                                            <label class="col-sm-3 control-label" for="input-captcha">Security Code:</label>
                                            <div class="col-sm-9">
                                              <input type="text" name="captcha" id="input-captcha" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group tesitimonail_form_div">
                                            <div class="col-sm-9 pull-right">
                                              <img src="index.php?route=tool/captcha" alt="" />
                                              
                                            </div>
                                        </div>
                                        <p> If you have difficulty in reading the image above then refresh your browser a few times until you see an image that is clear enough to copy. </p>-->
                                        
                                    </fieldset>
                                    <div class="buttons">
                                        <div class="pull-right">
                                          <input id="addtest" class="btn btn-primary" type="submit" value="Submit" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endif %}

                    {% for t in testimonials %}
                        <div class="testimonial2">
                            <div class="inner">

                                <div class="col-lg-1 col-md-4 col-xs-12 col-sm-12">
                                    <div class="thumbnail">
                                        <a href="{{ t.href }}">
                                            <img src="{{ t.avatar }}" title="{{ t.contact_name }}" alt="{{ t.contact_name }}" />
                                        </a>
                                    </div>
                                </div>

                                <!--Content-->
                                <div class="col-lg-10 col-md-8 col-xs-12 col-sm-12">
                                    <div class="contents">
                                        <p><img src="catalog/view/theme/default/image/testimonials/left_coma.png" alt="" width="34" height="22" /> {{ t.short_desc }}
                                        <img src="catalog/view/theme/default/image/testimonials/right_coma.png" alt="" width="34" height="22" class="right_coma" /> <br />
                                        {{ t.testimonial_desc|slice(0, 80) }} <span class="links"><a href="{{ t.href }}">{{ text_read_more }}</a></span></p>
                                        <div class='movie_choice'>
                                            <div id="r{{ t.testimonials_id }}" class="rate_widget_{{ t.testimonials_id }}">
                                                <div class="star_1 ratings_stars"></div>
                                                <div class="star_2 ratings_stars"></div>
                                                <div class="star_3 ratings_stars"></div>
                                                <div class="star_4 ratings_stars"></div>
                                                <div class="star_5 ratings_stars"></div>
                                            </div>
                                        </div>

                                        <h4><b>{{ t.contact_name }}</b> {{ t.website|replace({'http://': ''}) }}</h4>
                                    </div>
                                </div>

                            </div>

                            <div class="clear"></div>

                            <script type="text/javascript"><!--
                                // This is the first thing we add ------------------------------------------
                                $(document).ready(function () {

                                    $('.rate_widget_{{ t.testimonials_id }}').each(function (i)
                                    {
                                        var widget = this;
                                        var out_data = {
                                            widget_id: $(widget).attr('id'),
                                            fetch: 1
                                        };
                                        $.post(
                                            'index.php?route=extension/module/testimonials/testimonials/fetchRate&testimonials_id={{ t.testimonials_id }}',
                                            out_data,
                                            function (INFO) {
                                                $(widget).data('fsr', INFO);
                                                set_votes(widget);
                                            },
                                            'json'
                                        );
                                    });
                                });
                            //--></script>
                        </div>
                    {% endfor %}

                </div>

            </div>
            <div class="row">
                <div class="pagination col-sm-6 text-left">{{ pagination }}</div>
                <div class="col-sm-6 text-right">{{ pageresults }}</div>
            </div>
        
        {% else %}
            <!-- // new updates (17/4) -->
            <div class="col-md-10 pull-left">
                <p id="testiNotFound">{{ text_empty }}</p>
            </div>

            {% if (conf_allow_guest == 1 or user_logged == 1) and ((conf_admin_frontend_approval == 1 and testimonials is empty) or (testimonials is not empty and conf_admin_approval == 0)) %}
            
                <div class="col-md-12">
                    <div class="col-md-2 pull-right">
                        <input id="idadd" type="button" value="Add Testimonial" class="btn btn-primary">
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <div id="response_status"></div>
                </div>
                
                <div id="addform" class="form_container" style="display:none;" >
                    <div class="Testimonial_info">Testimonial Information</div>
                    <div class="clear"></div>
                    <div class="Testimonial_plus_form">
                        <form id="testimonial-form" method="post">
                            <fieldset>
                                <div class="form-group required tesitimonail_form_div">
                                    <label class="col-sm-3 control-label" for="input-name">Contact Name</label>
                                    <div class="col-sm-9">
                                      <input type="text" name="contact_name" value="" id="input-name" class="form-control" />
                                    </div>
                                </div>
                                
                                <div class="form-group required tesitimonail_form_div">
                                    <label class="col-sm-3 control-label" for="input-email">Email</label>
                                    <div class="col-sm-9">
                                      <input type="text" name="contact_email" value="" id="input-email" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group tesitimonail_form_div">
                                    <label class="col-sm-3 control-label" for="input-name">Website <small>(Optional)</small></label>
                                    <div class="col-sm-9">
                                      <input type="text" name="contact_website" value="" id="input-name" class="form-control" />
                                    </div>
                                </div>
                                
                                <div class="form-group required tesitimonail_form_div">
                                    <label class="col-sm-3 control-label" for="input-short">
                                    Short Description <span data-toggle="tooltip" title="Short description must be between 10 and 250 characters!"><i class="fa fa-info-circle" aria-hidden="true"></i></span></label>
                                    <div class="col-sm-9">
                                      <textarea name="short_desc" rows="10" id="input-short" class="form-control"></textarea>
                                    </div>
                                </div>
                                
                                <div class="form-group required tesitimonail_form_div">
                                    <label class="col-sm-3 control-label" for="input-testimonials">Testimonials <span data-toggle="tooltip" title="Testimonial description must be between 25 and 1000 characters!"><i class="fa fa-info-circle" aria-hidden="true"></i></span></label>
                                    <div class="col-sm-9">
                                      <textarea name="testimonial_desc" rows="10" id="input-testimonials" class="form-control"></textarea>
                                    </div>
                                </div>
                                
                                <div class="form-group tesitimonail_form_div" id="option">
                                    <label class="col-sm-3 control-label" for="input-captcha">Avatar  <small>(Optional)</small></label>
                                    <div class="col-sm-9">
                                        <input type="file" name="image" class="btn btn-primary btn-sm">
                                        <input type="hidden" name="avatar" value="" />
                                    </div>
                                </div>
                                <div class="form-group tesitimonail_form_div required">
                                    <label class="col-sm-3 control-label" for="input-captcha">Rating</label>
                                    <div class="col-sm-9">
                                        Bad
                                        &nbsp;&nbsp;
                                        <input type="radio" name="rating" value="1">
                                        &nbsp;
                                        <input type="radio" name="rating" value="2">
                                        &nbsp;
                                        <input type="radio" name="rating" value="3">
                                        &nbsp;
                                        <input type="radio" name="rating" value="4">
                                        &nbsp;
                                        <input type="radio" name="rating" value="5">
                                        &nbsp;&nbsp;
                                        Good
                                    </div>
                                </div>
                            </fieldset>
                            <div class="buttons">
                                <div class="pull-right">
                                  <input id="addtest" class="btn btn-primary" type="submit" value="Submit" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {{ content_bottom }}</div>
    
    {{ column_right }}</div>
    
</div>
<script type="text/javascript"><!--
    $(document).ready(function () { 
        $('#idadd').click(function () { 
            $('#addform').slideToggle(300);
            $('#testiNotFound').slideToggle(300);
            $('#response_status .alert-danger').remove();
            $('#response_status .alert-success').remove();
            $(this).toggleClass('btn-primary');
        });
    }); // end ready
//--></script>
<script type="text/javascript"><!--

    $(document).ready(function (e) {
        $("#testimonial-form").on('submit',(function(e) {
            e.preventDefault();

            $('#addtest').prop('disabled', true);

            $('#addtest').before('<img src="catalog/view/theme/default/image/loading.gif" class="loading" style="padding-left: 5px;" />');

            var filename = $('input[name=image]').val().split('\\').pop();
            // var filename = $('input[name=image]').val().replace(/C:\\fakepath\\/i, '');

            $('input[name=avatar]').val(filename);

            $.ajax({
                url: "index.php?route=extension/module/testimonials/testimonials/add",
                type: "POST",
                data:  new FormData(this),
                contentType: false,
                cache: false,
                processData:false,
                success: function(data)
                {
                    $('.loading').remove();
                    $('#addtest').prop('disabled', false);
                    if(data=='invalid') {
                        // invalid file format.
                        $('#response_status').html("<div class='alert alert-danger'>Invalid file!</div>");
                    } else {                
                        // reset form
                        json = JSON.parse(data);

                        if (json.error) {
                            var array = json.error.split(',');
                            
                            $('.alert-danger').remove();
                            $('.alert-success').remove();
                            $.each(array, function (index, value) {
                                $('#response_status').append("<div class='alert alert-danger'><ul><li>" + value + "</li></ul></div>");
                            });
                        } else if (json.success) {
                            $('.alert-danger').remove();
                            $("#testimonial-form")[0].reset();
                            $('#addform').slideToggle(300);
                            $('#idadd').toggleClass('btn-primary');
                            $('#response_status').html("<div class='alert alert-success'>" + json.success + "</div>");
                        }
                    }
                },
                error: function(e) 
                {
                    $('#response_status').html("<div class='alert alert-danger'><strong>Error!</strong> While submiting form.</div>");
                }          
            });
        }));
    });

    function set_votes(widget) {

        var avg = $(widget).data('fsr').whole_avg;
        var votes = $(widget).data('fsr').number_votes;
        var exact = $(widget).data('fsr').dec_avg;

        $(widget).find('.star_' + avg).prevAll().andSelf().addClass('ratings_vote');
        $(widget).find('.star_' + avg).nextAll().removeClass('ratings_vote');
        //$(widget).find('.total_votes').text(votes + ' votes recorded (' + exact + ' rating)');
    }
//--></script>
    
{{ footer }}





